title= title
link(href='/stylesheets/vendor/bootstrap-theme.min.css', media='screen', rel='stylesheet', type='text/css')
link(href='/stylesheets/vendor/bootstrap.min.css', media='screen', rel='stylesheet', type='text/css')
script(src='/javascripts/vendor/angular-min.js', type='text/javascript')
script(src='/javascripts/vendor/angular-resource-min.js', type='text/javascript')
script(src='/javascripts/vendor/jquery-min.js', type='text/javascript')
script(src='/javascripts/vendor/bootstrap.js', type='text/javascript')
!= csrfMetaTag()
