extends ../layouts/admin
block content
  h2 macross presentation status
  a(href='/admin/status') Status
  br
  a(href='/admin/status/application') Status by section

  data-ng-view

  data-duplicate
